<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div align="center">
    <h3>
        <a th:insert="logout">
            <button type="submit" style="font-size: 1em; padding:3px 137px;">Logout</button>
        </a>
    </h3>
    <h3>
        <a th:href="@{/}">
            <button type="submit" style="font-size: 1em; padding:3px 137px;">Back to main page</button>
        </a>
    </h3>
    <h2>User page</h2>
    <table border="1" cellpadding="5">
        <tr align="center">
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        <tr align="center">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${#strings.listJoin(user.roles.![name],',')}"></td>
        </tr>
    </table>
</div>
</body>
</html>