<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body align="center">
<!--<h1>User, welcome spring boot security page!</h1>-->
<!--<div th:insert="logout"></div>-->
<!--<div align="center">-->
<!--    <h2 th:number="'ID: '+${user.id}"></h2>-->
<!--    <h2 th:text="'FirstName: '+${user.firstName}"></h2>-->
<!--    <h2 th:text="'LastName: '+${user.lastName}"></h2>-->
<!--    <h2 th:number="'LastName: '+${user.age}"></h2>-->
<!--    <h2 th:text="'Email: '+${user.email}"></h2>-->
<!--    <h2 th:text="'Email: '+${user.roles}"></h2>-->
<!--</div>-->
<div align="center">
    <h3>
        <a th:insert="logout">
            <button type="submit" style="font-size: 1em; padding:3px 137px;">Logout</button>
        </a>
        <a th:href="@{/}">
            <button type="submit" style="font-size: 1em; padding:3px 137px;">Back</button>
        </a>
    </h3>
    <h2>User, welcome spring boot security page!</h2>
    <table border="1" cellpadding="5">
        <tr align="center">
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        <tr align="center" th:each="user : ${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
    </table>
</div>
</body>
</html>